#left-title {
  text-decoration: none;
  color: white;
}

#activites,
#activites2,
#browse {
  font-weight: 700;
}

#home,
#about,
#movies,
#events,
#health,
#music {
  font-weight: 300;
}

#judul {
  min-height: 0vh;
  /* height: ; */
  min-width: 100vw;
  display: inline-block;
  justify-content: center;
  align-items: center;

  margin: 0px 5px 0px 5px;
}

/* #judul img{
  width: 100%;
  height: 300px;
  margin: ;
} */

/* #home p{
  font-family: Poppins;
} */

.header {
  margin: 120px 186px 151px 186px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.desc-title {
  color: #0a5687;
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
}

.desc {
  /* max-width: 525px; */
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: justify;
  color: black;
  font-family: Poppins;
}

#gardening,
#painting,
#cooking,
#workout,
#reading {
  width: 1115px;
  height: 100%;
  left: 162px;
  top: 1839px;

  display: inline-block;
  justify-content: center;
  align-items: center;

  background-size: 100%;
  padding: 30px 30px 30px 20px;
  margin: 10px 30px 10px 30px;
}

#gardening,
#cooking,
#reading {
  background-color: #f2954e;
  border-radius: 65px;
  margin-top: 50px;
}

#painting,
#workout {
  background-color: #fad161;
  border-radius: 65px;
  margin-top: 50px;
}

#listActivities {
  background-color: #0a5687;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 170px 50px 170px 50px;
}

#home img {
  width: 439.01px;
  height: 437px;
  left: 196px;
  top: 298px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
}

#gardening .garden,
#painting .paint,
#cooking .cook,
#workout .workout,
#reading .read {
  width: 190px;
  height: 187px;
  left: 344px;
  top: 1920px;
  border-radius: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#gardening article,
#painting article,
#cooking article,
#workout article,
#reading article {
  font-size: 18px;
  line-height: 27px;
  padding: 25px 25px 25px 25px;
  text-align: center !important;
  align-items: center;
}

#listActivities .judul {
  color: #fad161 !important;
  font-family: Poppins;
  font-style: normal;
}

#listActivities .box {
  /* justify-content: space-between; */
  width: 100%;
  /* max-width: 960px; */
  display: flex;
  /* align-items: center; */
  border-radius: 70px;
  margin: 30px 30px 30px 30px;
  z-index: 990;
  /* flex-wrap: wrap;
  flex-direction: row; */
}

#listActivities .kotak {
  width: 230px;
  height: 210px;
  left: 218px;
  top: 1249px;

  background: #ffffff;
  border-radius: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  display: flex;
}

#detail {
  overflow: hidden;
  margin: 10em 10em 0 10em;
  flex-direction: row;

  padding: 30px 30px 30px 30px;
  min-width: 100px;
}

#pertanyaan {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-self: center;
}

#pertanyaan p {
  color: #0a5687;
  font-family: Poppins;
}

.section-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  padding: 10px 0px 40px 0px;
  align-items: center;
  text-align: center;
  color: #0a5687;
}

.iconify {
  size: 80%;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.buttonStory {
  background-color: #f2954e;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /* margin: 0px 450px 90px 450px; */
  border-radius: 12px;
  font-family: Poppins;
  align-items: center;
}

h1 {
  color: aqua;
  font-family: Poppins;
  font-style: normal;
}

h4 {
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: justify;
}

.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #0a5687;
  font-weight: bold;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a.active {
  color: #fff;
}

section {
  justify-content: center;
  /* display: table; */
  align-items: center;
}

#daftarBuku li.daftarBuku {
  color: #ffffff;
  align-items: center;
}

.button{
  color: white;
}