{% extends 'base.html' %}

{% load static %}

{% block script %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'landing_css/styling.css' %}" />
{% endblock %}
{% block title %} Now What | Home{% endblock title %}

{% block content %}
<div style="background-image: url(../static/landing_images/topbg1.png); background-size: cover; background-repeat: no-repeat; background-position: center;" class="topsect bgimg">
    <div class="titlecont">
        <div class="subs">So we're quarantined...</div>
        <div class="maintitle">NoWhat?</div> 
    </div> 
</div>
<div class="container login-container">
    <div class="row">
        <div>
            <img class="samping" src="{% static  'landing_images/Hello.png'%}" />
        </div>
        <div class="col-md-6 login-form-2" style="margin-top: 10%;">
            <form>
                <div class="form-group">
                    E-mail
                    <input type="text" class="form-control" placeholder="youremail@mail.com" value="" />
                </div>
                <div class="form-group">
                    Password
                    <input type="password" class="form-control" placeholder="Min. 8 characters long, A-Z and numbers only." value="" />
                </div>
                <aspan> Or <a class="ForgetPwd" style="color: #F2954E;">sign up </a> if you haven’t already. </span>
                <div class="form-group">
                    <input style="border-radius:500px;  background-color: #F2954E;
                    border: none;
                    color: white;
                    padding: 20px;
                    padding-left: 40px;
                    padding-right: 40px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;" type="submit" class="btnSubmit" value="Sign In" />
                </div>
         
                <div class="form-group">

                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}