{% extends 'base.html' %}

{% load static %}

{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}

{% endblock %}

{% block title %}
NoWhat? | Sign Up
{% endblock title %}

{% block content %}
<div class="container" style="margin-bottom: 6rem">
    <div style="font-family: Poppins, sans-serif; 
    margin: 3rem 0 2rem 0">
        <p style="text-align: center;">
            <a href="/signup" style="color: #0a5687;font-size: 40px;font-weight: bold;">SIGN UP TO CONTINUE</a><br>
            <!-- Or, if you already have an account, <a href="/signin" style="color: 7EB2FC;font-weight: bold;">sign in</a>. -->
        </p>
    </div>
    <div class="redirects">
    <form method="POST" action="" style="width: 100%;">
        {% csrf_token %}
        <div class="form-group">
            Username
            <input type="text" name="username" class="form-control" placeholder="Type your username here" value="" />
        </div>
        <div class="form-group">
            Email address
            <input type="text" name="email" class="form-control" placeholder="whoami@nowhat.co.id" value="" />
        </div>
        <div class="form-group">
            Password
            <input type="password" name="password1" class="form-control" placeholder="Min. 8 characters long, A-Z and numbers only" value="" />
        </div>
        <div class="form-group">
            Password Confirmation
            <input type="password" name="password2" class="form-control" placeholder="Retype your password" value="" />
        </div>
        <div class="form-group">
            <button style="border-radius:500px;  background-color: #F2954E;
                        border: none;
                        color: white;
                        padding: 20px;
                        padding-left: 40px;
                        padding-right: 40px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        margin-top: 2rem;
                        margin-bottom: 0.5rem;
                        font-size: 16px;"type="submit" class="btn btn primary btn-lg buttonstyled" name="create user">Sign Up</button>
        </div>
        {{form.errors}}
    </form>
    </div>
    <div class="registerdulu">
        Already have an account? <a href="/signin">Sign in</a>.
    </div>
</div>
{% endblock content %}