body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#home {
  font-weight: 700;
}

.close:hover {
  cursor: pointer;
}

.try-two {
  background-color: #0a5687;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: none;
}

#usrname2 {
  color: #fad161;
  font-size: 2.25rem !important;
  font-weight: 700 !important;
}

#music2:hover,
#events2:hover,
#movies2:hover,
#activites2:hover,
#health2:hover,
#music:hover,
#events:hover,
#movies:hover,
#activites:hover,
#health:hover,
#home:hover,
#about:hover,
#about2:hover,
#about3:hover,
#signout:hover,
#signout2:hover,
#signin:hover,
#signin2:hover {
  text-decoration: none !important;
  font-weight: 700 !important;
  color: white !important;
}

.pop-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  height: 80%;
}

.pop-menu-container a {
  text-decoration: none;
  color: white;
}

.pop-menu-container a:hover {
  font-weight: 700;
}

.try-button {
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  margin: 1.25rem 1.25rem 0 0;
}

.pop-menu {
  color: white;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  /* margin-bottom: 2.25rem; */
  position: relative;
  /* padding-bottom: 0.75rem; */
}

.nav-container {
  display: flex;
  align-items: center;
  background: #0a5687;
  height: 9.375rem;
}

.tryone {
  float: left;
  overflow: hidden;
}

.tryone .trybtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.tryone-content a {
  font-size: 1.25rem !important;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.tryone:hover .tryone-content {
  display: block !important;
}

.tryone-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #0a5687;
  width: 10rem;
  padding-top: 1.5rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 8.5rem 0 8.5rem;
}

.now-what-title a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 3.125rem;
}

.nav-menu {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 1rem;
}

footer {
  background: #0a5687;
  width: 100%;
}

.foot-cont {
  margin: 0 6.25rem 0 6.25rem;
}

.about-nowhat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0 8rem 0;
  max-width: 62.5rem;
}

.cont {
  margin: 0 6.5rem 0 6.5rem;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  margin-right: 4.5rem;
}

.about-title {
  font-size: 3.125rem;
  font-weight: 700;
  text-align: right;
}

.logo {
  width: 24.5rem;
}

.description {
  font-size: 1.25rem;
  line-height: 1.8rem;
  text-align: right;
  margin: 0;
  font-weight: 400;
  max-width: 35rem;
}

.small-logo {
  width: 6.25rem;
}

.text {
  color: white;
  font-size: 1.25rem;
}

.copyrights {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: #ffffff 0.45rem solid;
  padding-bottom: 6.25rem;
  padding-top: 1rem;
}

.burgerButton {
  width: 4rem;
  display: none;
}

.burgerButton:hover {
  cursor: pointer;
}

@media (max-width: 1221px) {
  .now-what-title a {
    font-size: 2.5rem;
  }

  .nav-menu a {
    font-size: 1.3rem;
  }

  .navbar {
    margin: 0 4rem 0 4rem;
  }

  .about-nowhat {
    flex-direction: column;
  }

  .logo {
    margin-top: 4rem;
  }

  .about {
    margin-right: 0;
    align-items: center;
  }

  .description {
    text-align: center;
  }

  .cont {
    margin: 0 2.5rem 0 2.5rem;
  }
}

@media (max-width: 720px) {
  .burgerButton {
    width: 2.3125rem;
    display: block !important;
  }

  .navbar {
    margin: 0 2rem 0 2rem;
    align-items: center;
  }

  .nav-menu {
    display: none;
  }

  .now-what-title a {
    font-size: 1.75rem;
  }

  .nav-container {
    height: 6.5rem;
  }

  .about-title {
    font-size: 1.75rem;
  }

  .about-nowhat {
    padding: 4rem 0 4rem 0;
  }

  .description {
    font-size: 0.9rem;
  }

  .logo {
    width: 14rem;
    margin-top: 2rem;
  }

  .text {
    font-size: 0.75rem;
  }

  .foot-cont {
    margin: 0 2rem 0 2rem;
  }

  .small-logo {
    width: 4.5rem;
  }

  .copyrights {
    padding-top: 0;
  }
}

@media (max-width: 550px) {
  .text {
    width: 5rem;
  }

  .right {
    text-align: right;
  }

  .cont {
    margin: 0;
  }
}
