.topsect {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgimg {
  background-image: url("../landing_images/topbg1.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  max-width: 100%;
}

.toCreate:hover {
  text-decoration: none !important;
  color: #20c393 !important;
}

.titlecont {
  /* width: 60vw;
  margin-left: auto;
  margin-right: auto; */
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subs {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #0a5687;
  font-weight: 500;
  /* padding-left: 9vw; */
  width: fit-content;
}

.maintitle {
  font-family: "Sansita Swashed", cursive;
  color: #0a5687;
  font-size: 4.8rem;
  margin-top: -4vh;
  width: fit-content;
}

.heading {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  color: #0a5687;
  text-align: center;
  margin-bottom: 5vh;
}

.cardscontainer {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vh;
  margin-top: 10vh;
}

.marpads {
  margin-top: 5vh;
}

.card {
  border: none;
}

.samping {
  width: 444px;
}

.judul {
  font-family: "Poppins", sans-serif;
  background-color: #f2954e;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
  padding: 0.8vw;
}

.cornered {
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
}

@media (max-width: 915px) {
  .first-container {
    flex-direction: column !important;
    align-items: center !important;
  }

  .samping {
    width: 444px;
  }
}

@media (max-width: 656px) {
  .maintitle {
    font-size: 3.5rem;
    margin-top: -2.5vh;
  }

  .main-text {
    font-size: 1.75rem !important;
    margin: 2rem 0 1rem 0 !important;
  }

  input {
    padding: 15px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: 14px !important;
  }

  .subs {
    font-size: 0.75rem;
  }

  .heading {
    font-size: 1.75rem;
  }

  .h3 {
    display: inline-block;
    margin: 0;
  }

  .samping {
    width: 300px;
  }
}
