a {
  text-decoration: none;
}

#music,
#music2,
#browse {
  font-weight: 700;
}

#home,
#about,
#movies,
#events,
#health,
#activites {
  font-weight: 300;
}

.header-image {
  margin-right: 87px;
}

.head-container {
  display: flex;
  justify-content: center;
}

.header {
  margin: 151px 186px 251px 186px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.desc-title {
  color: #0a5687;
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
}

.desc {
  max-width: 525px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: justify;
}

.now-trending {
  margin: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.sub-title {
  color: white;
  font-size: 45px;
  font-weight: 700;
  border-radius: 25px;
  background-color: #0a5687;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 38px 56px 38px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 128px;
}

.listen-more {
  margin: 0 10px 252px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  width: fit-content;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 73px;
  width: fit-content;
}

.icons .one {
  width: 214px;
  height: 214px;
}

.icons .two {
  width: 199px;
  height: 199px;
}

.icons .three {
  width: 207px;
  height: 207px;
}

.update-title {
  font-weight: 700;
  line-height: 75px;
  font-size: 50px;
  color: white;
  text-align: right;
}

.update-text {
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  color: white;
  text-align: justify;
}

.news-desc {
  width: 525px;
  margin: 0 95px 186px 95px;
  overflow: hidden;
  position: relative;
}

.music-icon {
  margin: 0 25px 0 25px;
}

.music-update {
  margin-bottom: 142px;
  overflow: hidden;
}

.news-one {
  background-image: url("../music_images/ILE.png");
}

.news-two {
  background-image: url("../music_images/TS.png");
}

.news-three {
  background-image: url("../music_images/AP.png");
}

.news-one,
.news-two,
.news-three {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 950px;
  width: 100%;
  transition: 0.5s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

.swipe-up {
  -webkit-animation-name: swipe;
  -webkit-animation-duration: 1.5s;
  animation-name: swipe;
  animation-duration: 1.5s;
}

.music-slides {
  margin-bottom: 274px;
}

#slider {
  height: 500px;
  width: 500px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide7,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2,
#s6:checked ~ #slide3,
#s7:checked ~ #slide4 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-99%, 0, -300px);
}

#s1:checked ~ #slide6,
#s2:checked ~ #slide7,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4,
#s7:checked ~ #slide5 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-66%, 0, -200px);
}

#s1:checked ~ #slide7,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5,
#s7:checked ~ #slide6 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  transform: translate3d(-33%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5,
#s6:checked ~ #slide6,
#s7:checked ~ #slide7 {
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide1:hover .slide-overlay,
#s2:checked ~ #slide2:hover .slide-overlay,
#s3:checked ~ #slide3:hover .slide-overlay,
#s4:checked ~ #slide4:hover .slide-overlay,
#s5:checked ~ #slide5:hover .slide-overlay,
#s6:checked ~ #slide6:hover .slide-overlay,
#s7:checked ~ #slide7:hover .slide-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide7,
#s7:checked ~ #slide1 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  transform: translate3d(33%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide6,
#s5:checked ~ #slide7,
#s6:checked ~ #slide1,
#s7:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(66%, 0, -200px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide6,
#s4:checked ~ #slide7,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2,
#s7:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(99%, 0, -300px);
}

.find-music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-overlay .slide-title {
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;
}

.slide-overlay .slide-artist {
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-align: center;
}

.slide-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

.find-content {
  margin: 0 18px 50px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fix-content {
  max-width: 1214px;
  display: flex;
  flex-direction: column;
  margin-bottom: 74.2px;
}

.album-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 52.5px;
  color: #0a5687;
  margin-bottom: 21px;
  margin-left: 18px;
}

.fix-overlay {
  position: absolute;
  z-index: 5;
  width: 266px;
  height: 266px;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  text-align: center;
}

.album-list .slide-title,
.album-list .slide-artist,
.model-list .slide-title,
.model-list .slide-artist {
  z-index: 10;
  color: white;
  width: 200px;
}

.album-list .slide-title,
.model-list .slide-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 34.5px;
}

.album-list .slide-artist,
.model-list .slide-artist {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.find-content .sub-title {
  /* width: 100%; */
  margin-top: 70px;
  font-size: 30px;
  padding: 28px 46px 28px 46px;
}

.find-content .sub-title:hover {
  background-color: #f2954e;
}

.nos {
  margin: 0 18px 36px 18px;
}

.nos {
  width: 266px;
  height: 266px;
}

.model-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.album-list img,
.model-list img {
  height: 266px;
  width: 266px;
}

.check {
  margin: 0;
}

.search-box {
  display: flex;
  align-items: center;
}

#search_button {
  margin: 3rem 0 4rem 0;
}

#book-keyword {
  margin: 3rem 0 4rem 0;
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem;
  font-size: 1.75rem;
}

iframe {
  border-radius: 25px;
}

@-webkit-keyframes swipe {
  0% {
    top: 1000px;
  }
  100% {
    top: 0;
  }
}

@keyframes swipe {
  0% {
    top: 1000px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1260px) {
  .fix-content {
    max-width: 928px;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 151px 100px 150px 100px;
  }

  .header-image {
    margin: 0 0 50px 0;
  }

  #s1:checked ~ #slide5,
  #s2:checked ~ #slide6,
  #s3:checked ~ #slide7,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2,
  #s6:checked ~ #slide3,
  #s7:checked ~ #slide4 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-60%, 0, -400px);
  }

  #s1:checked ~ #slide6,
  #s2:checked ~ #slide7,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3,
  #s6:checked ~ #slide4,
  #s7:checked ~ #slide5 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-40%, 0, -300px);
  }

  #s1:checked ~ #slide7,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4,
  #s6:checked ~ #slide5,
  #s7:checked ~ #slide6 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translate3d(-20%, 0, -200px);
  }

  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5,
  #s6:checked ~ #slide6,
  #s7:checked ~ #slide7 {
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 0, -100px);
  }

  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide6,
  #s6:checked ~ #slide7,
  #s7:checked ~ #slide1 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translate3d(20%, 0, -200px);
  }

  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide6,
  #s5:checked ~ #slide7,
  #s6:checked ~ #slide1,
  #s7:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(40%, 0, -300px);
  }

  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide6,
  #s4:checked ~ #slide7,
  #s5:checked ~ #slide1,
  #s6:checked ~ #slide2,
  #s7:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(60%, 0, -400px);
  }
}

@media (max-width: 959px) {
  .fix-content {
    max-width: 644px;
  }

  .now-trending .sub-title {
    margin-bottom: 300px;
  }

  .music-update {
    margin-top: 50px;
  }

  #s1:checked ~ #slide5,
  #s2:checked ~ #slide6,
  #s3:checked ~ #slide7,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2,
  #s6:checked ~ #slide3,
  #s7:checked ~ #slide4 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, -60%, -400px);
  }

  #s1:checked ~ #slide6,
  #s2:checked ~ #slide7,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3,
  #s6:checked ~ #slide4,
  #s7:checked ~ #slide5 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, -40%, -300px);
  }

  #s1:checked ~ #slide7,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4,
  #s6:checked ~ #slide5,
  #s7:checked ~ #slide6 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translate3d(0, -20%, -200px);
  }

  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5,
  #s6:checked ~ #slide6,
  #s7:checked ~ #slide7 {
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 0, -100px);
  }

  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide6,
  #s6:checked ~ #slide7,
  #s7:checked ~ #slide1 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translate3d(0, 20%, -200px);
  }

  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide6,
  #s5:checked ~ #slide7,
  #s6:checked ~ #slide1,
  #s7:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, 40%, -300px);
  }

  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide6,
  #s4:checked ~ #slide7,
  #s5:checked ~ #slide1,
  #s6:checked ~ #slide2,
  #s7:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, 60%, -400px);
  }

  .content-title {
    text-align: center;
  }

  .icons {
    margin-top: 20px;
  }

  .icons .one {
    width: 150px;
    height: 150px;
  }

  .icons .two {
    width: 140px;
    height: 140px;
  }

  .icons .three {
    width: 145px;
    height: 145px;
  }

  .music-icon {
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 656px) {
  .album-list img,
  .model-list img {
    height: 130px;
    width: 130px;
  }

  #book-keyword {
    margin: 1rem 0 1rem 0;
    width: 100%;
    height: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  #search_button img {
    height: 36px;
  }

  #search_button {
    margin: 1rem 0 1rem 0;
    height: 36px !important;
  }

  .more-title {
    font-size: 25px;
    line-height: 40px;
  }

  .fix-overlay {
    height: 130px;
    width: 130px;
  }

  .nos {
    height: 130px;
    width: 130px;
  }

  .album-list,
  .model-list {
    max-width: 300px;
  }

  .fix-content {
    align-items: center;
    margin-bottom: 35px;
  }

  .content-title {
    font-size: 25px;
    margin-left: 9px;
    line-height: 37.5px;
  }

  .find-content {
    margin: 0 8px 50px 8px;
  }

  .nos {
    margin: 0 8px 8px 8px;
  }

  .sub-title {
    font-size: 25px;
    padding: 17px 30px 17px 30px;
    margin-bottom: 64px;
    border-radius: 20px;
  }

  .find-content .sub-title {
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    margin-top: 0;
    border-radius: 15px;
  }

  .now-trending {
    margin: 0 10px 100px 10px;
  }

  .album-list .slide-title,
  .model-list .slide-title {
    width: 130px;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 22px !important;
  }

  .album-list .slide-artist,
  .model-list .slide-artist {
    width: 130px;
    font-size: 11px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
  }

  .check {
    margin-top: 20px;
  }

  .listen-more {
    margin: 0 10px 100px 10px;
  }

  .icons .one {
    width: 90px;
    height: 90px;
  }

  .icons .two {
    width: 80px;
    height: 80px;
  }

  .icons .three {
    width: 85px;
    height: 85px;
  }

  .music-icon {
    margin: 0 5px 0 5px;
  }

  .header img {
    width: 250px;
    height: 250px;
  }

  .desc-title {
    font-size: 30px;
  }

  .desc {
    font-size: 14px;
    line-height: 20px;
  }

  .header {
    margin: 50px 30px 100px 30px;
  }

  .update-title {
    font-size: 30px;
  }

  .update-text {
    font-size: 14px;
    line-height: 20px;
  }

  .news-desc {
    margin: 0 30px 186px 30px;
  }

  #s1:checked ~ #slide5,
  #s2:checked ~ #slide6,
  #s3:checked ~ #slide7,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2,
  #s6:checked ~ #slide3,
  #s7:checked ~ #slide4 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, -60%, -1300px);
  }

  #s1:checked ~ #slide6,
  #s2:checked ~ #slide7,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3,
  #s6:checked ~ #slide4,
  #s7:checked ~ #slide5 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, -40%, -1200px);
  }

  #s1:checked ~ #slide7,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4,
  #s6:checked ~ #slide5,
  #s7:checked ~ #slide6 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translate3d(0, -20%, -1100px);
  }

  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5,
  #s6:checked ~ #slide6,
  #s7:checked ~ #slide7 {
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 0, -1000px);
  }

  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide6,
  #s6:checked ~ #slide7,
  #s7:checked ~ #slide1 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translate3d(0, 20%, -1100px);
  }

  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide6,
  #s5:checked ~ #slide7,
  #s6:checked ~ #slide1,
  #s7:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, 40%, -1200px);
  }

  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide6,
  #s4:checked ~ #slide7,
  #s5:checked ~ #slide1,
  #s6:checked ~ #slide2,
  #s7:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(0, 60%, -1300px);
  }

  .music-slides {
    margin-bottom: 50px;
  }

  .now-trending .sub-title {
    margin-bottom: 50px;
  }
}
