#music,
#music2,
#browse {
  font-weight: 700;
}

#home,
#about,
#movies,
#events,
#health,
#activites {
  font-weight: 300;
}

.header {
  color: #0a5687;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 199px 80px 88px 80px;
}

.header-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}

.header-content {
  font-weight: 400;
  font-size: 25px;
  line-height: 37.5px;
}

.form-group {
  margin-bottom: 38px;
}

.sect-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 37.5px;
  margin-bottom: 15px;
  color: #0a5687;
}

.form,
.sect-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#id_title,
#id_artist,
#id_link,
#id_images {
  width: 410px;
  height: 54px;
  font-weight: 400;
  text-align: center;
  font-size: 23px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

button {
  width: 266px;
  height: 68px;
  background-color: #0a5687;
  border-radius: 15.4315px;
  border: none;
  font-size: 27px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: #f2954e;
}

.submission {
  display: flex;
  justify-content: center;
  margin: 66px 0 184px 0;
}

@media (max-width: 720px) {
  .header {
    margin: 95px 12.5px 44px 12.5px;
  }

  .header-title {
    font-size: 30px;
    line-height: 50px;
  }

  .header-content {
    font-size: 17px;
    line-height: 27.5px;
  }

  .sect-title {
    font-weight: 700;
    font-size: 17.5px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  #id_title,
  #id_artist,
  #id_link,
  #id_images {
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 17.5px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  button {
    width: 200px;
    height: 50px;
    border-radius: 15.4315px;
    border: none;
    font-size: 20px;
    font-weight: 700;
  }
}
