{% extends 'base.html' %}{% load static %}
{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'aaya_css/style.css' %}" />
{% endblock %}

{% block title %} NoWhat? | Events {% endblock title %}

{% block content %}
<div class="preformpage" id="cobadulu">
    <div class="preform_form">
        <div class="header">
            <center>Register</center>
        </div>
        <div class="formevent">
            <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="event_name" placeholder="Nama event">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control" id="event_date" placeholder="DD/MM/YY"></input>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="event_desc" placeholder="Deskripsi singkat event"></textarea>
                </div>
                <div class="form-group">
                    <label>Contact</label>
                    <input type="text" class="form-control" id="contact" placeholder="E-mail/No.HP"></input>
                </div>
                <button type="submit" class="btn regularbutton">Submit</button>
            </form>
        </div>
    </div>
    <div class="preform_result">
        <div class="header">
            <center>Waiting List</center>
        </div>
        <p><br>Event akan muncul disini setelah didaftarkan. Tim kami akan menghubungi anda untuk informasi lebih
            lanjut.<br></p>
        <div class="row mb-2 posts cobain">
            {% for event in events %}
            <div class="col-md-6">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{event.event_name}}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="btn regularbutton"><a href="/events" style="text-decoration:none; color:#fff;">Go Back</a></button>
    </div>
</div>
</div>
<script src="{% static 'aaya_js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'aaya_js/events.js' %}"></script>
{% endblock %}