{% extends 'base.html' %}{% load static %}

{% block title %} Now What | Health {% endblock title %}

{% block content %}

<head>
<link    
rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
/>
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'landing_css/main.css'%}" rel="stylesheet" />
    <link href="{% static 'landing_css/styledBase.css' %}" rel="stylesheet" />

</head>

<div style="font-family: poppins; color: #0A5687; font-size: 45px; text-align: center; margin-top : 8%"><b>Resep dari Pengunjung</b></div>
<div class="content container">
    <div class="row">
        <div class="col-md">
<table class="table table-dark" style="margin-top: 10%;">
    <thead style="background-color: #0A5687; color: #ffffff;">
        <tr align="left">
            <th scope = "col">Nama Masakan</th>
            <th scope = "col">Bahan-bahan</th>
            <th scope = "col">Alat</th>
            <th scope = "col">Langkah-langkah</th>
        </tr>
    </thead>
    <tbody style="background-color: #ffffff;">
        {% for i in reseps %}
        <tr>
            <td>{{i.nama}}</td>
            <td>{{i.bahan}}</td>
            <td>{{i.alat}}</td>
            <td>{{i.langkah}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="/health/mintaresep">  <button type="sumbit" class="btn btn-warning btn-lg" style="background-color: #F2954E; margin-left: 40%; border-radius: 12%; margin-bottom: 10%;  margin-top: 3%;">Tambah Resep</button> </a>
 
</div>
</div>
</div>

{% endblock %}