{% extends 'base.html' %}{% load static %}

{% block title %} Now What | Health {% endblock title %}

{% block content %}
<h1 style="font-family: poppins; font-size: 50px; color:  #0A5687; text-align: center; margin-top: 10%; margin-bottom: 5%;"><b>Bagikan Resep Makananmu!</b></h1>
<form
action="{% url 'feature_nathan:mintaresep' %}"
method="POST">
    {% csrf_token %}

  </div>
  <div class="row font2" style="margin-top: 5; margin-bottom: 5%;">
      <div class="col-sm-5">
          <div class="container" style="display: flex; justify-content: center; align-items: center;">
              <div class="flex">
                  <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                          <div class="text-sm">
                            <label for="formGroupExampleInput" style="font-family: poppins; font-size: 15px; color:  #0A5687; align-items: center;"><b><center>Nama masakan:</center></b></label>
                          </div>
                          {{form.nama}}
                      </div>
                      <div class="form-group">
                          <div class="text-sm">
                            <label for="formGroupExampleInput" style="font-family: poppins; font-size: 15px; color:  #0A5687;align-content:  center;"><b><center>Bahan-bahan:</center></b></label>
                          </div>
                          {{form.bahan}}
                      </div>
                      <div class="form-group">
                        <div class="text-sm">
                          <label for="formGroupExampleInput" style="font-family: poppins; font-size: 15px; color:  #0A5687; text-align: center;"><b><center>Alat:</center></b></label>
                        </div>
                        {{form.alat}}
                      </div>
                    <div class="form-group">
                        <div class="text-sm">
                          <label for="formGroupExampleInput" style="font-family: poppins; font-size: 15px; color:  #0A5687; text-align: center; "><b><center>Langkah-langkah:</center></b></label>
                        </div>
                        {{form.langkah}}
                    </div>
                    <button type="submit" class="btn btn-warning" style="background-color: #F2954E; margin-left: 40%; border-radius: 12%;">Bagikan</button>
              </div>
          </div>
      </div>

</form>
    {{reseps}}
{% endblock %}