{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container pt-5">
            <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <center><label for="exampleInputEmail1" style="font-weight: bold; font-family: poppins; font-size: 15px; color:  #0A5687; align-items: center;">Nama makanan</label></center>
               <input type="text" class="form-control" id="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <center><label for="exampleInputEmail1" style="font-weight: bold; font-family: poppins; font-size: 15px; color:  #0A5687; align-items: center;">Bahan</label> </center>
                    <textarea class="form-control" id="bahan" placeholder="Bahan"></textarea>
                </div>
                <div class="form-group">
                    <center><label for="exampleInputEmail1" style="font-weight: bold; font-family: poppins; font-size: 15px; color:  #0A5687; align-items: center;">Alat</label> </center>
                    <textarea class="form-control" id="alat" placeholder="Alat"></textarea>
                 </div>
                 <div class="form-group">
                    <center><label for="exampleInputEmail1" style="font-weight: bold; font-family: poppins; font-size: 15px; color:  #0A5687; align-items: center;">Langkah</label> </center>
                    <textarea class="form-control" id="langkah" placeholder="Langkah"></textarea>
                </div>
                <center><button  style="border-radius:500px;  background-color: #F2954E;
                border: none;
                color: white;
                padding: 20px;
                padding-left: 40px;
                padding-right: 40px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                margin-bottom: 10%;"type="submit" class="btn btn-primary">Submit</button></center>
                <h1 style="font-weight: bold; font-family: poppins; font-size: 35px; color:  #0A5687; align-items: center; margin-left: 35%;">Kumpulan Resep </h1>
            </form>
            <div class="row mb-2 posts">
                    {% for post in posts %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0" style="color:  #0A5687">{{post.title}}</h3>
                                <p style="font-weight: bold;">Alat:</p>
                                <p style="white-space: pre-wrap;" class="mb-auto">{{post.alat}}</p>
                                <hr>
                                <p style="font-weight: bold;">Bahan:</p>
                                <p  style="white-space: pre-wrap;" class="mb-auto">{{post.bahan}}</p>
                                <hr>
                                <p style="font-weight: bold;">Langkah-langkah:</p>
                                <p  style="white-space: pre-wrap;" class="mb-auto">{{post.langkah}}</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
            </div>
        </div>

    </body>
    
    {% endblock content %}
    {% block js %} 
    <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script>
        $(document).on('submit', '#post-form',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "feature_nathan:create" %}',
                data:{
                    title:$('#title').val(),
                    bahan:$('#bahan').val(),
                    alat:$('#alat').val(),
                    langkah:$('#langkah').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success:function(json){
                    document.getElementById("post-form").reset();
                    $(".posts").prepend('<div class="col-md-6">'+
                        '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
                            '<div class="col p-4 d-flex flex-column position-static">' +
                                '<h3 class="mb-0">' + json.title + '</h3>' +
                                '<p class="mb-auto">' + json.bahan + '</p>' +
                                '<p class="mb-auto">' + json.alat + '</p>' +
                                '<p class="mb-auto">' + json.langkah + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>' 
                    )
                },
                error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });
    </script>
    {% endblock js %}
<!-- </html> -->
