{% extends 'base.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock script %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mirsa_css/activities.css' %}" type="text/css">
{% endblock %}

{% block title %} Now What | Activities {% endblock %}

{% block content %}

<section class="container-fluid d-flex flex-wrap ">
    <div>
    
    </div>
    
    <div class="container-fluid">
      <div class="section-title mx-auto text-center p-5"> 
        OTHER EXPERIENCE
      </div>
      
      <!-- <div class="section-title"> 
        <h3 >Others Experience</h3>
      </div> -->
      
      {% for i in list_story %}
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">{{ i.name }}</h5>
            <p class="card-text">{{ i.experience }}</p>
            <div class="d-flex flex-row">
              <form method="POST" action="{% url 'feature_mirsa:story' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ i.id }}">
                <button type="submit" value="Submit" class="card-link btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <button class="button" style="margin-top:40px;">  
        <a href="{% url 'feature_mirsa:activities' %}" class="text-white">
          Back to Activities
        </a>
    </button>
    </section>

{% endblock %}
