{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mirsa_css/mirsa.css' %}" type="text/css">
{% endblock %}

{% block title %} Now What | Activities {% endblock %}

{% block content %}

<section class="container d-flex flex-wrap align-content-center justify-content-center">
    {% if submit%}
    
        <div class="mx-auto text-center p-5">
          <div class="section-title mx-auto text-center p-5"> 
            THANKS FOR SHARING WITH US! :)
        </div>
          <br>
          <button class="button"> 
          <a href="{% url 'feature_mirsa:activities' %}" class="text-white">
            Back to Activities
          </a>
          </button>
          <br>
          <button class="button" style="margin-top: 40px;"> 
            <a href="{% url 'feature_mirsa:story' %}" class="text-white">
              See others experience
            </a>
            </button>
        </div> 
    
    {% else %}
        <div class="pertanyaan container">
            <div class="section-title mx-auto text-center p-5 justify-content-center"> 
                SHARE YOUR EXPERIENCE DOING AN ACTIVITIES AT HOME
            </div>
    
            <form  action="" method="post" novalidate>
                {% csrf_token %}
                <!-- <p  style="text-align: center;color: #0a5687; font-weight: bold;">{{ user.username }}</p> -->
                
                <div class="form-group" style="text-align: center;">
                    <p  style="text-align: center;color: #0a5687; font-weight: bold;">Your Name</p>
                  {{ form.name }}
                </div>
                <div class="form-group"  style="text-align: center; margin-top: 40px;">
                    <p  style="text-align: center;color: #0a5687; font-weight: bold;">Your Experience!</p>
                  {{ form.experience }}
                </div>
                <div class="form-group"  style="text-align: center;">
                  <input type="submit" value="Share" class="button" style="text-align: center; ">
                </div>
                
              </form>
        </div>
        
 
        
    {% endif %}
    
    </section> 
    

{% endblock %}
