#events,
#events2,
#browse {
  font-weight: 700;
}

#home,
#about,
#music,
#movies,
#health,
#activites {
  font-weight: 300;
}

body{
  overflow-x:hidden;
}

.header {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 40px;
  color: #0a5687;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.subheader {
  color: #0a5687;
  text-align: center;
  padding-top: 0;
  padding-bottom: 30px;
}

.formevent {
  margin-top: 8vh;
}
.formevent p {
  color: #0a5687;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

.input-width {
  width: 200px;
  height: 200px;
}

.input-height {
  width: 200px;
  height: 25px;
}

.btn-warnanya {
  background-color: #f2954e;
  color: #fff;
  width: 100px;
  height: 40px;
}

.tabletitle {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #0a5687;
  padding-bottom: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 3px;
  /* border:1px solid; */
  margin-bottom: 5vh;
}

th {
  width: 150px;
  padding: 7px;
  /* border:1px solid; */
}

td {
  padding: 5px;
  /* border:1px solid; */
}

.section {
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100%;
}

.topping {
  display: flex;
}

.schedule {
  display: flex;
  /* border:1px solid red; */
}

.linky {
  background-color: #0a5687;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* big screens */
@media (min-width: 920px) {
  .topping {
    flex-direction: row;
  }

  .toppingleft {
    flex: 1;
    justify-content: right;
    /* border:1px solid blue; */
  }

  .toppingleft img {
    width: 30vw;
    float: right;
    padding-top: 140px;
    padding-right: 5vw;
  }

  .toppingright {
    flex: 1;
    /* border:1px solid red; */
    padding-top: 140px;
    padding-bottom: 215px;
  }

  .headertop {
    text-transform: uppercase;
    font-size: 40px;
    color: #0a5687;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .toppingright p {
    text-align: justify;
    font-size: 15px;
    color: #000;
    width: 30vw;
    margin-bottom: 7vh;
  }

  .headersched {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 40px;
    color: #0a5687;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    /* border:1px solid green; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
  }

  .texts {
    margin-top: 20px;
    /* border:1px solid purple; */
  }
  .texts p {
    text-align: center;
    font-size: 15px;
    color: #000;
    width: 50vw;
    margin-bottom: 7vh;
  }

  .texts table {
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    font-size: 0.87rem;
    text-align: center;
    padding: 3px;
    margin-bottom: 5vh;
    border: none;
  }

  .texts tr,
  td {
    text-align: left;
    margin-right: 40px;
    margin: 10px;
    border: none;
  }

  .tanggal {
    width: 15vw;
    text-align: left;
  }

  .tanggalcolor {
    background-color: #f2954e;
    color: #fff;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .acara {
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 15vw;
  }

  .status {
    text-align: right;
    width: 7vw;
  }

  .status open {
    color: #f2954e;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .status closed {
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .status pending {
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #wtf {
    display: flex;
    flex-direction: row;
  }

  .caption {
    flex: 1;
    /* border:1px solid red; */
  }

  .caption h1 {
    color: #0a5687;
    font-size: 40px;
    padding-top: 20vh;
    padding-left: 10vw;
    font-weight: 700;
  }

  .caption p {
    max-width: 40vw;
    color: #000;
    text-align: justify;
    padding-left: 10vw;
    margin-top: 3vh;
  }

  #attend {
    background-color: #f2954e;
    width: 200px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  #socmed {
    display:none;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 20vh;
  }

  #socmed img {
    width: 50px;
    margin-right: 1vw;
  }

  #attend3 {
    background-color: #f2954e;
    width: 200px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  #socmed3 {
    display:none;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 20vh;
  }

  #socmed3 img {
    width: 50px;
    margin-right: 1vw;
  }

  /*SOCMED RIGHT*/
  #attend_right {
    background-color: #f2954e;
    width: 200px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  #socmedr {
    display:none;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 20vh;
  }

  #socmedr img {
    width: 50px;
    margin-right: 1vw;
  }
  .wtf-img {
    flex: 1;
    /* border:1px solid red; */
  }

  .wtf-img img {
    float: right;
    margin-top: 7vh;
    width: 40vw;
    margin-bottom: 10vh;
  }

  #compfest {
    display: flex;
  }

  .compfestcapt {
    flex: 1;
  }

  .compfestcapt h1 {
    color: #0a5687;
    font-size: 40px;
    padding-top: 20vh;
    padding-left: 10vw;
    font-weight: 700;
  }

  .compfestcapt p {
    max-width: 40vw;
    color: #000;
    text-align: justify;
    padding-left: 10vw;
    margin-top: 3vh;
  }

  .compfest-img {
    flex: 1;
    /* border:1px solid red; */
  }

  .compfest-img img {
    float: left;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 40vw;
  }

  #bkui {
    display: flex;
    margin-bottom: 20vh;
  }

  .preformpage{
    display:flex;
    padding-bottom:20vh;
    flex-direction:row;
  }
  
  .preform_form{
    flex:1;
    padding-right:7vw;
    padding-left:7vw;
    padding-bottom:2vw;
  }
  
  .preform_result{
    flex:1;
    padding-right:7vw;
    padding-left:7vw;
    padding-bottom:2vw;
  }
  
}

/* small screens */
@media (max-width: 920px) {
  /* intro */
  .topping {
    flex-direction: column;
    margin-bottom: 10vh;
  }

  .toppingleft {
    flex: 1;
    /* border:1px solid blue; */
    margin: auto;
  }

  .toppingleft img {
    min-width: 30vw;
    max-width: 50vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }

  .toppingright {
    flex: 1;
    /* border:1px solid red; */
  }

  .headertop {
    text-transform: uppercase;
    font-size: 2rem;
    color: #0a5687;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2vh;
  }

  .toppingright p {
    text-align: justify;
    font-size: 0.89rem;
    color: #000;
    width: 50vw;
    margin-bottom: 7vh;
    margin-left: auto;
    margin-right: auto;
  }

  /* timeline */
  .headersched {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 2rem;
    color: #0a5687;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    /* border:1px solid green; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
  }

  .texts {
    margin-top: 20px;
    /* border:1px solid purple; */
  }
  .texts p {
    text-align: center;
    font-size: 0.8rem;
    color: #000;
    width: 50vw;
    margin-bottom: 7vh;
  }

  .texts table {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding: 3px;
    margin-bottom: 5vh;
    /* border:1px solid; */
  }

  .texts tr,
  td {
    text-align: left;
    /* margin-right:40px; */
    margin: 10px;
    border: none;
  }

  .tanggal {
    text-align: left;
  }

  .tanggalcolor {
    background-color: #f2954e;
    color: #fff;
    border-radius: 20px;
    width: 100%;
    height: 5vh;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .acara {
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 15vw;
  }

  .status {
    text-align: right;
    width: 7vw;
  }

  .status open {
    color: #f2954e;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .status closed {
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .status pending {
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* main events */

  #wtf {
    display: flex;
  }

  .caption {
    flex: 1;
    /* border:1px solid darkgrey; */
  }

  .caption h1 {
    color: #0a5687;
    font-size: 2rem;
    padding-top: 10vh;
    padding-left: 10vw;
    font-weight: 700;
  }

  .caption p {
    max-width: 50vw;
    color: #000;
    text-align: left;
    padding-left: 10vw;
    margin-top: 3vh;
    font-size: 0.85rem;
  }

  /*SOCMED LEFT*/
  #attend {
    background-color: #f2954e;
    max-width: 80%;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  #socmed {
    display:none;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
  }

  #socmed img {
    width: 50px;
    margin-right: 1vw;
  }

  #attend3 {
    background-color: #f2954e;
    max-width: 80%;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  #socmed3 {
    display:none;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
  }

  #socmed3 img {
    width: 50px;
    margin-right: 1vw;
  }

  /*SOCMED RIGHT*/
  #attend_right {
    background-color: #f2954e;
    max-width: 80%;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    margin-left: 5vw;
    margin-top: 3vh;
  }

  #socmedr {
    display:none;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 10vh;
  }

  #socmedr img {
    width: 50px;
    margin-right: 1vw;
  }

  .wtf-img {
    flex: 1;
    /* border:1px solid red; */
  }

  .wtf-img img {
    float: right;
    margin-top: 10vh;
    width: 40vw;
    margin-bottom: 10vh;
  }

  #compfest {
    display: flex;
  }

  .compfestcapt {
    flex: 1;
    padding-top: 5vh;
  }

  .compfestcapt h1 {
    color: #0a5687;
    font-size: 2rem;
    padding-top: 5vh;
    font-weight: 700;
    padding-right: 10vw;
    padding-left: 5vw;
  }

  .compfestcapt p {
    max-width: 50vw;
    color: #000;
    text-align: left;
    padding-left: 5vw;
    margin-top: 3vh;
    font-size: 0.85rem;
    padding-right: 5vw;
  }

  .compfest-img {
    flex: 1;
    /* border:1px solid red; */
  }

  .compfest-img img {
    float: left;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 40vw;
  }

  #bkui {
    display: flex;
  }

  .preformpage{
    display:flex;
    padding-bottom:20vh;
    flex-direction:column;
  }
  
  .preform_form{
    flex:1;
    padding-right:7vw;
    padding-left:7vw;
    padding-bottom:2vw;
  }
  
  .preform_result{
    flex:1;
    padding-right:7vw;
    padding-left:7vw;
    padding-bottom:2vw;
  }
}

/* ANIMATION */

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*animation element sliding right*/

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* END OF ANIMATION */

.linkyheader {
  font-size: 2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 8vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.linkss {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.linkingyellow {
  background-color: #fad161;
  max-width: 100%;
  color: #0a5687;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 25px;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 2vh;
}

.linkingorange {
  background-color: #f2954e;
  max-width: 100%;
  color: #0a5687;
  font-weight: 700;
  line-height: 25px;
  font-size: 1.5rem;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 2vh;
}

.registt {
  display: flex;
  margin-top:10vh;
  margin-bottom: 20vh;
}

.registerbutton {
  margin: auto;
  max-width: 100%;
  background-color: #f2954e;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 3vw;
  font-weight: 700;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.regularbutton {
  margin-top:3vh;
  margin-left:auto;
  margin-right:auto;
  max-width: 100%;
  background-color: #f2954e;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 2vw;
  font-weight: 700;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

