{% extends 'base.html' %}{% load static %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
Now What | Music
{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'music_css/styledMusic.css' %}" />
<style>
    [type=radio] {
        display: none;
    }
</style>
{% endblock css %}


{% block content %}
<div class="header">
    <!--done for desktop-->
    <div class="header-image">
        <img src="{% static 'music_images/image57.png' %}" alt="music" width="436px" height="436px" />
    </div>
    <div class="header-description">
        <div class="desc-title">MUSIC</div>
        <div class="desc">
            Kehidupan yang sibuk, ramai, dan penuh aktivitas terkadang
            membuat kita menjadi jenuh, apa lagi jika kita melaksanakannya
            secara rutin dan dengan ritme yang sama setiap harinya. Untuk itu,
            kita membutuhkan musik. Ya, sebagai pewarna dan penyemangat rutinitas
            kita, terlebih di saat pandemi; di mana kita “terkurung” setiap harinya.
            Carilah musik yang sesuai dengan selera Anda dan Anda pun akan menjalani
            hari dengan lebih berwarna.
        </div>
    </div>
</div>
<!--break-->
<div class="now-trending">
    <!--done for desktop-->
    <div class="sub-title">
        NOW TRENDING
    </div>
    <div class="music-slides">
        <section id="slider">
            <input type="radio" name="slider" id="s1" />
            <input type="radio" name="slider" id="s2" />
            <input type="radio" name="slider" id="s3" />
            <input type="radio" name="slider" id="s4" checked />
            <input type="radio" name="slider" id="s5" />
            <input type="radio" name="slider" id="s6" />
            <input type="radio" name="slider" id="s7" />

            <label for="s1" id="slide1">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://open.spotify.com/track/15HNdxGKNCIO9pgaY4n7FU" class="slide-overlay slide-fade">
                    <div class="slide-title">
                        Pretender
                    </div>
                    <div class="slide-artist">Official髭男dism</div>
                </a>
                <img class="OHDD" src="{% static 'music_images/OHDD.png' %}" height="100%" width="100%" />
            </label>

            <label for="s2" id="slide2">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://open.spotify.com/track/4TwVtW8hS5LyLoDtJGpUOg" class="slide-overlay slide-fade">
                    <div class="slide-title">
                        History
                    </div>
                    <div class="slide-artist">88 Rising</div>
                </a>
                <img src="{% static 'music_images/HITC.png' %}" height="100%" width="100%" />
            </label>

            <label for="s4" id="slide4">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://open.spotify.com/track/1YNhXXRUnOkmAfP2FeYhQN" class="slide-overlay slide-fade">
                    <div class="slide-title">
                        Is It The Answer
                    </div>
                    <div class="slide-artist">Reality Club</div>
                </a>
                <img src="{% static 'music_images/NGB.png' %}" height="100%" width="100%" />
            </label>

            <label for="s3" id="slide3">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://open.spotify.com/track/0t1kP63rueHleOhQkYSXFY" class="slide-overlay slide-fade">
                    <div class="slide-title">
                        Dynamite
                    </div>
                    <div class="slide-artist">BTS</div>
                </a>
                <img src="{% static 'music_images/BTS.png' %}" height="100%" width="100%" />
            </label>

            <label for="s5" id="slide5">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://open.spotify.com/track/58bpEULoDFAMC9CBuRKYaA" class="slide-overlay slide-fade">
                    <div class="slide-title">
                        Straight To You
                    </div>
                    <div class="slide-artist">Stephanie Poetri</div>
                </a>
                <img src="{% static 'music_images/SP.png' %}" height="100%" width="100%" />
            </label>

            <label for="s6" id="slide6">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://open.spotify.com/track/5L3kOd4IgS1qnzppDVO27U" class="slide-overlay slide-fade">
                    <div class="slide-title">さよなら</div>
                    <div class="slide-artist">Sakurako Ohara</div>
                </a>
                <img src="{% static 'music_images/SYN.png' %}" height="100%" width="100%" />
            </label>

            <label for="s7" id="slide7">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://open.spotify.com/track/1DhJgI2oAsDeDVSD5TNPCF" class="slide-overlay slide-fade">
                    <div class="slide-title">Rindu Dalam Hati</div>
                    <div class="slide-artist">Arsy Widianto, Brisia Jodie</div>
                </a>
                <img src="{% static 'music_images/RDH.png' %}" height="100%" width="100%" />
            </label>
        </section>
    </div>
</div>
<!--break-->
<div class="music-update">
    <!--done for desktop-->
    <div class="card fade start">
        <div class="news-one">
            <div class="news-desc swipe-up">
                <div class="update-title">
                    MUSIC UPDATE
                </div>
                <div class="update-text">
                    Setelah hiatus dalam waktu yang lama, grup band asal Jepang,
                    Indigo la End, kembali merilis single terbaru mereka pada Oktober
                    2020 yang berjudul 夜風とハヤブサ (The Night Wind And Hayabusa).
                    Mengisahkan seseorang yang telah kehilangan cintanya dan tidak dapat
                    mengejarnya kembali karena terjebak hujan di suatu tempat.
                </div>
            </div>
        </div>
    </div>
    <div class="card fade">
        <div class="news-two">
            <div class="news-desc swipe-up">
                <div class="update-title">
                    MUSIC UPDATE
                </div>
                <div class="update-text">
                    Selama masa pandemi Covid-19, musisi asal Amerika Serikat, Taylor Swift,
                    menerbitkan sebuah album baru berjudul Folklore. Lagu-lagu pada album
                    tersebut merupakan suatu perwujudan dari imaginasinya saat ia melakukan
                    isolasi selama masa pandemi. Menariknya, terdapat tiga lagu di antaranya,
                    yaitu Exile, The 1, dan Cardigan yang masuk ke dalam daftar lagu-lagu
                    Top 100 Single Billboard List.
                </div>
            </div>
        </div>
    </div>
    <div class="card fade">
        <div class="news-three">
            <div class="news-desc swipe-up">
                <div class="update-title">
                    MUSIC UPDATE
                </div>
                <div class="update-text">
                    Indonesia telah melahirkan banyak musisi berbakat, salah satunya ialah
                    Ardhito Pramono. Karya-karya dari penulis lagu bergenre Jazz dan Pop ini
                    telah didengarkan sampai ke manca negara. Baru-baru ini, ia telah merilis
                    sebuah single berjudul I Just Couldn't Save You Tonight yang dinyanyikan
                    bersama Aurelie Moeremans. Lagu itu juga merupakan original soundtrack dari
                    film berjudul Story of Kale.
                </div>
            </div>
        </div>
    </div>
</div>
<!--break-->
<div class="find-music">
    <div class="sub-title">
        FIND YOUR MUSIC
    </div>
</div>
<div class="find-music">
    <!-- Load songs into here -->
<div class="search-box">
    <input type="text" name="" id="book-keyword" class="buscar-txt" placeholder="Search" />
    <a id="search_button" style="height: 56px;"> <img src="{% static 'music_images/Search_Button_2-512.png' %}" height="56px"/> </a>
</div>
    <div class="find-content">
        <!-- Load songs into here -->
        <div class="fix-content">
            <div class="album-list" id="song-list">
                <div id="song_0" class="col"></div>
                <div id="song_1" class="col"></div>
                <div id="song_2" class="col"></div>
                <div id="song_3" class="col"></div>
                <div id="song_4" class="col"></div>
                <div id="song_5" class="col"></div>
                <div id="song_6" class="col"></div>
                <div id="song_7" class="col"></div>
                <div id="song_8" class="col"></div>
                <div id="song_9" class="col"></div>
                <div id="song_10" class="col"></div>
                <div id="song_11" class="col"></div>
            </div>
        </div>
        <div class="fix-content">
            <div class="content-title">
                INDONESIA TOP CHARTS
            </div>
            <div class="album-list">
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/06pezDUwqVsUfpBNw6uJir" class="fix-overlay slide-fade">
                        <div class="slide-title">Lathi</div>
                        <div class="slide-artist">Bad Genius</div>
                    </a>
                    <img src="{% static 'music_images/lathi.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/4sCabvmZpbmfoCNcoCSKEX" class="fix-overlay slide-fade">
                        <div class="slide-title">Cuek</div>
                        <div class="slide-artist">Rizky Febian</div>
                    </a>
                    <img src="{% static 'music_images/cuek.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/58bpEULoDFAMC9CBuRKYaA" class="fix-overlay slide-fade">
                        <div class="slide-title">Straight To You</div>
                        <div class="slide-artist">Stephanie Poetri</div>
                    </a>
                    <img src="{% static 'music_images/SP.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/4TQKvKtmAWsiOHGXSYkm7K" class="fix-overlay slide-fade">
                        <div class="slide-title">Sometimes</div>
                        <div class="slide-artist">Rich Brian</div>
                    </a>
                    <img src="{% static 'music_images/sometimes.png' %}" alt="cover" />
                </div>
            </div>
        </div>
        <div class="fix-content">
            <div class="content-title">
                NOSTALGIA
            </div>
            <div class="album-list">
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/1snckGawgZl4afm8UUoQbN" class="fix-overlay slide-fade">
                        <div class="slide-title">Ada Apa Denganmu</div>
                        <div class="slide-artist">Peterpan</div>
                    </a>
                    <img src="{% static 'music_images/peterpan.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/0pqX5wKGeqhkFU9QhkHKpU" class="fix-overlay slide-fade">
                        <div class="slide-title">White Christmas</div>
                        <div class="slide-artist">Frank Sinatra</div>
                    </a>
                    <img src="{% static 'music_images/frank.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/5xKovpSlp7iKLMQTwGhOaD" class="fix-overlay slide-fade">
                        <div class="slide-title">Berharap Tak Berpisah</div>
                        <div class="slide-artist">Reza Artamevia</div>
                    </a>
                    <img src="{% static 'music_images/reza.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/4AsLXLOI78A8rxg0lx2qAv" class="fix-overlay slide-fade">
                        <div class="slide-title">Pudar</div>
                        <div class="slide-artist">Rossa</div>
                    </a>
                    <img src="{% static 'music_images/rosa.png' %}" alt="cover" />
                </div>
            </div>
        </div>
        <div class="fix-content">
            <div class="content-title">
                BE PRODUCTIVE
            </div>
            <div class="album-list">
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/album/1nMHkGDJwTvoW3LTTdUVwA" class="fix-overlay slide-fade">
                        <div class="slide-title">Study Café</div>
                        <div class="slide-artist">BGM Channel</div>
                    </a>
                    <img src="{% static 'music_images/cafe.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/album/6XyaVDkZeCWf14x0eESZdl" class="fix-overlay slide-fade">
                        <div class="slide-title">1 AM Study</div>
                        <div class="slide-artist">Chilled Cow</div>
                    </a>
                    <img src="{% static 'music_images/chilledcow.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/2h1CQA5UG2mtWKkpI2fFxt" class="fix-overlay slide-fade">
                        <div class="slide-title">Settembre</div>
                        <div class="slide-artist">Chilled Cow</div>
                    </a>
                    <img src="{% static 'music_images/lofi.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/album/7qOxDmOd9lWJxnFA24DZW1" class="fix-overlay slide-fade">
                        <div class="slide-title">Autumn Study</div>
                        <div class="slide-artist">BGM Channel</div>
                    </a>
                    <img src="{% static 'music_images/autumn.png' %}" alt="cover" />
                </div>
            </div>
        </div>
        <div class="fix-content">
            <div class="content-title">
                FEEL THE CULTURE
            </div>
            <div class="album-list">
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/06zyu4h1oridjZJuwPXUUf" class="fix-overlay slide-fade">
                        <div class="slide-title">I Promise You</div>
                        <div class="slide-artist">Wanna-One</div>
                    </a>
                    <img src="{% static 'music_images/wannaone.png' %}" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/4BE1OloRc9xwjyqA4wFFuN" class="fix-overlay slide-fade">
                        <div class="slide-title">あの夢をなぞって</div>
                        <div class="slide-artist">YOASOBI</div>
                    </a>
                    <img src="{% static 'music_images/yoasobi.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/15HNdxGKNCIO9pgaY4n7FU" class="fix-overlay slide-fade">
                        <div class="slide-title">Pretender</div>
                        <div class="slide-artist">Official髭男dism</div>
                    </a>
                    <img src="{% static 'music_images/OHDD.png' %}" alt="cover" />
                </div>
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/2duwSgIaCDp6hKV106uhPf" class="fix-overlay slide-fade">
                        <div class="slide-title">Disana Menanti Disini Menunggu</div>
                        <div class="slide-artist">Via Vallen</div>
                    </a>
                    <img src="{% static 'music_images/viavalen.png' %}" alt="cover" />
                </div>
            </div>
        </div>
        <div class="fix-content">
            <div class="content-title">
                OUR MUSIC
            </div>
            {% if user.is_authenticated %}
            <div class="model-list">
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://open.spotify.com/track/0X7K8nxTgOBUr5VMTLG8hS" class="fix-overlay slide-fade">
                        <div class="slide-title">Winter Song</div>
                        <div class="slide-artist">Isyana Sarasvati</div>
                    </a>
                    <img src="{% static 'music_images/isyana.jpg' %}" alt="cover" />
                </div>
                {% for items in music %}
                {% if items.owner.username == user.username %}
                <div class="nos">
                    <a target="_blank" rel="noopener noreferrer" href={{items.link}} class="fix-overlay slide-fade">
                        <div class="slide-title"
                            style="color: white; width:200px; z-index: 10; font-weight: 700; font-size: 23px; line-height: 34.5px">
                            {{items.title}}</div>
                        <div class="slide-artist"
                            style="color: white; width:200px; z-index: 10; font-weight: 500; font-size: 18px; line-height: 27px">
                            {{items.artist}}</div>
                    </a>
                    <img src="{{items.images}}" alt="cover" />
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="check">
            <a href='share/{{user.id}}'>
                <div class="sub-title">
                    SHARE YOUR MUSIC
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</div>
<!--break-->
<div class="listen-more">
    <!--done for desktop-->
    <div class="more-title">
        LISTEN MORE ON
    </div>
    <div class="icons">
        <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/">
            <img class="music-icon one" src="{% static 'music_images/image53.png' %}" alt="spotify" />
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.joox.com/id">
            <img class="music-icon two" src="{% static 'music_images/image54.png' %}" alt="joox" />
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://music.apple.com/us/browse">
            <img class="music-icon three" src="{% static 'music_images/image55.png' %}" alt="apple-music" />
        </a>
    </div>
</div>


{% endblock content %}
{% block js %}
<script src="{% static 'music_js/slides.js' %}"></script>
<script src="{% static 'music_js/spotify.js' %}"></script>
{% endblock js %}